.carousel {
    margin-top: 85px;
    margin-bottom: 50px;
  }
  
  .carousel-inner {
    height: 500px;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .carousel-caption h5 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
    font-variant: small-caps;
    color: whitesmoke
  }
  
  .carousel-caption p {
    font-size: 35px;
    color: white;
    font-style:inherit;
  }