body {
    margin: 0px;
    background: #1e242a;
  }
  
  #main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  
  #box1 {
    width: 530px;
    height: 625px;
    background-image: url('/WaterPark/client/images/BWAmu.png');
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s forwards, anim2 3s forwards 3s;
    background-size: cover;
  }
  
  #box1:after {
    content: '';
    position: absolute;
    width: 530px;
    height: 625px;
    background-image: url('/WaterPark/client/images/colorAmu.png');
    left: 0px;
    z-index: -1;
    background-size: cover;
  }
  
  @keyframes anim {
    from {
      bottom: -100%;
    }
  
    to {
      bottom: 0%;
    }
  }
  
  @keyframes anim2 {
    from {
      left: 30%;
      width: 530px;
    }
  
    to {
      width: 0px;
      left: 50%;
    }
  }
  
  #box2 {
    width: auto;
    height: auto;
    font-family: 'Bahnschrift Condensed';
    /* color: white; */
    font-size: 10em;
    font-weight: 500;
    line-height: 130px;
    position: absolute;
    top: 250px;
    left: 100px;
    overflow: hidden;
  }
  
  
  #text {
    
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s;
  }
  
  .color1 {
    color: rgb(173, 198, 230);
  }
  
  .color2 {
    color: white;
  }
  
  @keyframes anim3 {
    from {
      left: -100%;
    }
  
    to {
      left: 0%;
    }
  }
  
  #box3 {
    overflow: hidden;
  }
  
  #container {
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
    display: flex;
  }
  
  #logo img {
    width: 50px;
  }
  
  #menu {
    font-family: 'Bahnschrift Condensed';
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    margin-top: 60px;
    float: left;
  }
  
  #menu ul {
    list-style: none;
  }
  
  #menu ul li {
    display: inline-block;
    margin-left: 50px;
  
  }
  
  #menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    color: rgb(173, 198, 230)
  }
  
  #menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    top: 2px;
  }
  @keyframes anim4 {
    from {
      top: -100%;
    }
  
    to {
      top: 0%;
    }
  }
  
  /* HOME PAGE  */
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .gallery {
    margin-bottom: 20px;
  }
  
  .gallery ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .gallery li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .gallery img {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
  }
  
  .location {
    margin-bottom: 20px;
  }
  
  .location p {
    font-size: 18px;
  }
  
  .rides {
    margin-bottom: 20px;
  }
  
  .rides ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .rides li {
    display: inline-block;
    margin-right: 10px;
  }

  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's in the background */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .background-container > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2); /* Adjust this value to zoom in or out */
  }