#fair-swing{
    height: 325px;
}

#roller-coaster{
    height: 325px;
}

#drop-tower{
    height:325px;
}

#ferris-wheel{
    height: 300px;
}

#bumper-car{
    height: 300px;
}

#water-park{
    height: 300px;
}