#fair-swing{
    height: 325px;
}

#roller-coaster{
    height: 325px;
}

#drop-tower{
    height:325px;
}

#ferris-wheel{
    height: 300px;
}

#bumper-car{
    height: 300px;
}

#water-park{
    height: 300px;
}

.card-heading{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
    font-variant: small-caps;
    color: black;
}