.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.carousel-item.active {
  opacity: 1;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.carousel-content {
  max-width: 100%;
  text-align: center;
}

.name {
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.profession {
  margin-bottom: 15px;
  color: #666;
}

.text {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #333;
}

.quote {
  font-size: 1.2em;
  color: #999;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.star {
  font-size: 1em;
  color: #ccc;
}

.star.filled {
  color: #f39c12;
}

.control-prev,
.control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.control-prev {
  left: 10px;
}

.control-next {
  right: 10px;
}

.carousel-text-heading{
  font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
    font-variant: small-caps;
    color: black;
}