.signup-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.video-container video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="tel"],
/* .form-container input[type="email"], */
.form-container input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button[type="submit"]:hover {
    background-color: #3e8e41;
}

.form-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.form-container p.error {
    color: #f00;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.submit-button {
    width: 48%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    /* background-color: #ccc; */
    color: #333;
    width: 10%;
    height: 30px;
    border-radius: 20px;
    justify-content: center;
}

.back-button:hover {
    background-color: #aaa;
}

.submit-button:hover {
    background-color: #3e8e41;
}

