.footer-container {
    background-color: black;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.footer-send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: white;
}

.footer-send>p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.footer-send-heading {
    margin-bottom: 24px;
    font-size: 24px;
}

.footer-send-text {
    margin-bottom: 24px;
    font-size: 20px;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid white;
}

/* .footer-link{
    width:100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

}

.footer-link-wrapper{
    display: flex;

}

.footer-link-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2{
    margin-bottom: 16px;
}

.footer-link-items >h2{
    color: white;
}

.footer-link-items a{
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-items a:hover{
    color: white;
    transition: 0.3s ease-out;

}

.footer-send-form h2{
 margin-bottom: 32px;
}

.footer-input::placeholder{
    color: #b1b1b1;
}
 */
 .footer-link-items >h2{
    color: white;
}
.footer-link {
    margin-bottom: 20px;
}

.footer-link-wrapper {
    display: flex;
    justify-content: center;
}

.footer-link-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link-items h2 {
    margin-right: 20px;
}

.footer-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #f39c12;
}