.feedback-card {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  animation: fadeInUp 0.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}

.feedback-card .card-body {
  padding: 1.25rem;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.feedback-card .card-image {
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.feedback-card .card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.feedback-card .card-details {
  width: 60%;
}

.feedback-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feedback-card:hover .card-image img {
  transform: scale(1.1);
}

.feedback-card:hover .card-details {
  color: #fff;
  background-color: #0d6efd;
  padding: 1.5rem;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.feedback-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d6efd;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.feedback-card:hover::before {
  opacity: 0.9;
}

.feedback-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #0da1fd;
  z-index: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.feedback-card:hover::after {
  height: 100%;
  opacity: 0.9;
}