.navbar {
  background: linear-gradient(90deg, white 0%, rgb(111, 181, 204) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left:0;
  z-index: 999;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-right: 20px; */
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-toggler-icon {
  font-size: 1.5rem;
}

.navbar-nav {
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-link.active {
  color: #333;
}

.nav-link:hover {
  color: #333;
}

.btn {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.btn-primary:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.navbar-collapse{
  margin-left: 285px;
}
#logostyle{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
