.container-fluid.nav-bar {
  background: linear-gradient(90deg, white 0%, rgb(111, 181, 204) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.nav-item .nav-link {
  color: #000; /* Default text color */
  transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
  color: #007bff; /* Change to the color you prefer */
  text-decoration: underline; /* Optional underline effect */
}

.navbar-brand h1 {
  color: #000;
  transition: color 0.3s ease;
}

.navbar-brand h1:hover {
  color: #007bff;
}

.nav-bar {
  background: var(--bs-light);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  border-radius: 7px;
}

.navbar .navbar-nav .nav-link {
  padding: 10px 12px;
  font-weight: 600;
  font-size: 17px;
  transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: .5s;
    opacity: 0;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-primary);
  color: var(--bs-white);
}

#searchModal .modal-content {
  background-color: rgba(255, 255, 255, .95);
}
